In [1]:
import pandas as pd
import numpy as np

from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import FunctionTransformer

In [2]:
class FeatureEncoder(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        label_encoded_df=X.copy()
        le = preprocessing.LabelEncoder()
        for col in label_encoded_df.select_dtypes(include=['object']).columns:
            label_encoded_df[col]=le.fit_transform(label_encoded_df[col])
        return label_encoded_df
            
class FeatureSelector(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        X=X.drop(['StandardHours', 'EmployeeCount', 'Over18'],axis=1)
        return X
    
pipe=Pipeline([
    ("encoder", FeatureEncoder()),
    ("selector", FeatureSelector()),
])

class data_preparing:
    def __init__(self,x, pipe):
        self.x=x
        self.pipe=pipe
    
    def encode_select(self):
        x_dummy=pipe.fit_transform(self.x)
        y=x_dummy.loc[:,'Attrition']
        x=x_dummy.drop('Attrition',axis=1)
        return x,y

In [3]:
path="/Users/ecemdenizbabaoglan/Downloads/WA_Fn-UseC_-HR-Employee-Attrition.csv"
ds=pd.read_csv(path)

In [4]:
d1=data_preparing(ds,pipe)
d1.encode_select()

(      Age  BusinessTravel  DailyRate  Department  DistanceFromHome  Education  \
 0      41               2       1102           2                 1          2
 1      49               1        279           1                 8          1
 2      37               2       1373           1                 2          2
 3      33               1       1392           1                 3          4
 4      27               2        591           1                 2          1
 ...   ...             ...        ...         ...               ...        ...
 1465   36               1        884           1                23          2
 1466   39               2        613           1                 6          1
 1467   27               2        155           1                 4          3
 1468   49               1       1023           2                 2          3
 1469   34               2        628           1                 8          3

       EducationField  EmployeeNumber  EnvironmentSatisfaction  Gender  ...  \
 0                  1               1                        2       0  ...
 1                  1               2                        3       1  ...
 2                  4               4                        4       1  ...
 3                  1               5                        4       0  ...
 4                  3               7                        1       1  ...
 ...              ...             ...                      ...     ...  ...
 1465               3            2061                        3       1  ...
 1466               3            2062                        4       1  ...
 1467               1            2064                        2       1  ...
 1468               3            2065                        4       1  ...
 1469               3            2068                        2       1  ...

       PerformanceRating  RelationshipSatisfaction  StockOptionLevel  \
 0                     3                         1                 0
 1                     4                         4                 1
 2                     3                         2                 0
 3                     3                         3                 0
 4                     3                         4                 1
 ...                 ...                       ...               ...
 1465                  3                         3                 1
 1466                  3                         1                 1
 1467                  4                         2                 1
 1468                  3                         4                 0
 1469                  3                         1                 0

       TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  \
 0                     8                      0                1
 1                    10                      3                3
 2                     7                      3                3
 3                     8                      3                3
 4                     6                      3                3
 ...                 ...                    ...              ...
 1465                 17                      3                3
 1466                  9                      5                3
 1467                  6                      0                3
 1468                 17                      3                2
 1469                  6                      3                4

       YearsAtCompany  YearsInCurrentRole  YearsSinceLastPromotion  \
 0                  6                   4                        0
 1                 10                   7                        1
 2                  0                   0                        0
 3                  8                   7                        3
 4                  2                   2                        2
 ...              ...                 ...                      ...
 1465               5                   2                        0
 1466               7                   7                        1
 1467               6                   2                        0
 1468               9                   6                        0
 1469               4                   3                        1

       YearsWithCurrManager
 0                        5
 1                        7
 2                        0
 3                        0
 4                        2
 ...                    ...
 1465                     3
 1466                     7
 1467                     3
 1468                     8
 1469                     2

 [1470 rows x 31 columns],
 0       1
 1       0
 2       1
 3       0
 4       0
        ..
 1465    0
 1466    0
 1467    0
 1468    0
 1469    0
 Name: Attrition, Length: 1470, dtype: int64)